<!--
    ******************************************
    Copyright (c) 2023， Mr.Winter
    All rights reserved.
    ******************************************

    @breif: main launch file
    @author: Mr.Winter    
    @update: 2023.9.12
-->
<launch>
    <!-- robot model arg -->
    <arg name="model" default="waffle" />
<!--     <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/> -->
    <!-- map arg -->
    <arg name="map" default="$(find sim_env)/maps/workshop.yaml" />
    <!-- world arg -->
    <arg name="world" default="$(find sim_env)/worlds/workshop.world" />

    <!-- initial pose -->
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="yaw"   default="0.0"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sim_env)/urdf/turtlebot3_$(arg model).urdf.xacro" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sim_env)/rviz/sim_env.rviz"/>

    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model)
        -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- AMCL -->
    <include file="$(find sim_env)/launch/includes/amcl.launch.xml">
        <arg name="robot_x" value="x_pos" />
        <arg name="robot_y" value="y_pos" />
        <arg name="robot_z" value="z_pos" />
    </include>

    <!-- MoveBase -->
    <include file="$(find sim_env)/launch/includes/move_base.launch.xml" />
</launch>